@tailwind base;
@tailwind components;
@tailwind utilities;

.go-fullscreen-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 10000;
  display: none;
}

@media (max-width: 640px) {
  body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
  }

  .go-fullscreen-button {
    display: block !important;
  }
}
